<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.device.admin.dao.mapper.TestMapper">
<select id="selectAllData" resultType="com.example.device.admin.dao.entity.po.TestModel">
    select id,name,age,modify_time as modifyTime,create_time as createTime from test_model
</select>
</mapper>